.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #37517e
;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color: #4b93ba;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgb(183, 224, 246);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #37517e;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #37517e
;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;
}